* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html {
  background-color: #f6f9fc;
  color: #f5f5f5f5;
}

.Router__link {
  text-decoration: none;
  color: black;
}

.Notification-Card {
  top: 12%;
}
