/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001629;
  padding: 1rem;
}

.nav-left {
  width: 15%;
  filter: invert(99%) sepia(1%) saturate(1305%) hue-rotate(265deg)
    brightness(117%) contrast(76%);
  cursor: pointer;
}

.Logo {
  width: 100%;
}
.nav-left:hover {
  filter: invert(39%) sepia(86%) saturate(2933%) hue-rotate(308deg)
    brightness(96%) contrast(88%);
}

.nav-right {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: end;
  margin-left: auto;
}

.nav-link {
  margin-right: 0.5rem;
  cursor: pointer;
}
/* End of NavBar */

/* User Menu */
.user__menu {
  color: black;
}

.global__forum,
.signin,
.signup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-menu-link {
  margin-left: 0.5rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.profileUpload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* End of User Menu */

/* Media Queries */
@media screen and (min-width: 768px) {
  .nav-left {
    width: 8%;
  }
  .nav-link {
    margin-right: 0.8rem;
  }
  .nav-right {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: end;
    margin-left: auto;
  }
}

@media screen and (min-width: 1294px) {
  .nav-left {
    width: 5%;
  }
}
